.app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 2rem 0;
  }
  
  .app__wrapper_img img {
    width: 80%;
    border-radius: 50px 0;
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper_img img {
      width: 100%;
    }
  }
