.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-white);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 70px;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img img {
  width: 80%;
  border-radius: 50px 0;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
    font-size: 120px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 70px;
  }
  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }
  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 87px;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 70px;
  }
}
