/*  global classes */

.app__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  min-height: 100vh;
  background-color: var(--color-black);
}
.app__wrapper-white {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  min-height: 100vh;
  background-color: var(--color-white);
}

.app__header-img img {
  width: 80%;
}

.app__button {
  position: relative;
  font-family: var(--font-base);
  overflow: hidden;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid white;
  background: white;
  font-size: 20px;
  color: var(--color-black);
  cursor: pointer;
  transition: 0.5s;
}

.app__button:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
}

.app__button:hover {
  color: var(--color-white);
  background: var(--color-black);
  transition: 0.5s;
}

.app__button:hover:before {
  top: 0;
  height: 100%;
}

.app__button-black {
  position: relative;
  font-family: var(--font-base);
  overflow: hidden;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid var(--color-black);;
  background: var(--color-black);
  font-size: 20px;
  color: var(--color-white);
  cursor: pointer;
  transition: 0.5s;
}

.app__button-black:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
}

.app__button-black:hover {
  color: var(--color-black);
  background: var(--color-white);
  transition: 0.5s;
}

.app__button-black:hover:before {
  top: 0;
  height: 100%;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 30px;
  font-size: 23px;
}

.app__text {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 18px;
}

@media screen and (min-width: 2000px) {
  .app__button,
  .app__button-black,
  .app__text {
    font-size: 30px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper,
  .app__wrapper-white  {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .app__wrapper,
  .app__wrapper-white  {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__wrapper,
  .app__wrapper-white  {
    padding: 4rem 2rem;
  }
  .app__button,
  .app__button-black,
  .app__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .app__button,
  .app__button-black,
  .app__text {
    font-size: 12px;
  }
}
